
.fixed-header .show{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #161b22;
    box-shadow: 0 0 0 1px #000, 0 30px 30px rgba(0, 0, 0, 0.07), 0 15px 15px rgba(0, 0, 0, 0.06), 0 10px 8px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);
    transition: all ease 0.3s;
}

.strong{
    color: var(--color-done-fg);
    background: -o-linear-gradient(190deg, #3d67ff 0%, #9773ff 50%, #efceff 80%), #fff;
    background: linear-gradient(260deg, #3d67ff 0%, #9773ff 50%, #efceff 80%), #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.text-highlight{
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(45deg, #5ebbff -33%, #a174ff 69%);
    -webkit-background-clip: text;
    background-clip: text;
}
.devh2{
    padding: 30px 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    background: linear-gradient(260deg, #3d67ff 0%, #9773ff 50%, #efceff 80%), #fff;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* .play-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    translate: -50% -50%;
    width: 80px;
    height: 80px;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(90deg, rgb(94, 187, 255) 0%, rgb(161, 116, 255) 100%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
} */
.devvideo::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}
.img{
    width: 75%;
    display: block;
    border-radius: 16px;
    box-shadow: 0 0 0 1px #666, 0 30px 30px rgba(0, 0, 0, 0.07), 0 15px 15px rgba(0, 0, 0, 0.06), 0 10px 8px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);
    /* -webkit-box-shadow: 0 0 0 1px #666, 0 30px 30px rgba(0, 0, 0, 0.07), 0 15px 15px rgba(0, 0, 0, 0.06), 0 10px 8px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03); */
}
.light{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.inner{
    padding: 48px 64px;
    border-radius: 16px;
    background-color: #161b22;
    box-shadow: 0 0 0 1px #000, 0 30px 30px rgba(0, 0, 0, 0.07), 0 15px 15px rgba(0, 0, 0, 0.06), 0 10px 8px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);
}
.content{
    position: relative;
    padding: 48px 64px;
    min-height: 300px;
    border-radius: 16px;
    background-color: #161b22;
    box-shadow: 0 0 0 1px #000, 0 30px 30px rgba(0, 0, 0, 0.07), 0 15px 15px rgba(0, 0, 0, 0.06), 0 10px 8px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);
}
.why-should-buy{
    margin-top: 150px;
    padding: 70px 0 100px;
    background-color: #161b22;
    box-shadow: 0 0 0 1px #000, 0 30px 30px rgba(0, 0, 0, 0.07), 0 15px 15px rgba(0, 0, 0, 0.06), 0 10px 8px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    color: #8957e5;
    font-size: 2.4rem;
    background: #20242b;
    box-shadow: 0 0 0 1px #000, 0 30px 30px rgba(0, 0, 0, 0.07), 0 15px 15px rgba(0, 0, 0, 0.06), 0 10px 8px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);
}
.feedback-list{
    --columns: 2;
    --spacing: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: calc(-1*32px);
    margin-top: 32px;
}
.feedback-item{
    --color-fg-muted: #8b949e;
    --mktg-accent-primary: #efceff;
    --mktg-accent-secondary: #9773ff;
    width: calc(100% / var(--columns) - var(--spacing));
    padding: 32px;
    margin-top: var(--spacing);
    margin-left: var(--spacing);
    border-radius: 16px;
    background-color: #161b22;
    -webkit-box-shadow: 0 0 0 1px #000, 0 30px 30px rgba(0, 0, 0, 0.07), 0 15px 15px rgba(0, 0, 0, 0.06), 0 10px 8px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);
    box-shadow: 0 0 0 1px #000, 0 30px 30px rgba(0, 0, 0, 0.07), 0 15px 15px rgba(0, 0, 0, 0.06), 0 10px 8px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);
}
.specifications .inner{
    position: relative;
    z-index: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 48px 60px;
    border-radius: 16px;
    background-color: #24292f;
    box-shadow: 0 0 0 1px #000, 0 30px 30px rgba(0, 0, 0, 0.07), 0 15px 15px rgba(0, 0, 0, 0.06), 0 10px 8px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);
}
.sponsors-heart-group-1{
    position: absolute;
    top:20%;
    left:43%;
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.16, 1, 0.3, 1);
    transform: scale(0.6);
}
.faq-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 2rem;
    background: linear-gradient(-70deg, var(#efceff, #8b949e) 0%, var(#9773ff, #8b949e) 100%);
    background-clip: text;
    transition: transform 0.3s ease, opacity 0.2s ease;
}
.end-inner{
    padding: 100px 48px;
    border-radius: 16px;
    background-color: #161b22;
    box-shadow: 0 0 0 1px #000, 0 30px 30px rgba(0, 0, 0, 0.07), 0 15px 15px rgba(0, 0, 0, 0.06), 0 10px 8px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03)
}
.end-strong{
    background: linear-gradient(260deg, #3d67ff 0%, #9773ff 50%, #efceff 80%), #fff;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.menu-toggle{
    position: fixed;
    top: 12px;
    right: 16px;
    z-index: 8;
    padding: 10px;
    border-radius: 8px;
    display: block;
    background: #0d1018;
    border: none;
    outline: none;
    color: #fff;
    font-size: 24px;
}
/* Mobile */
.nav-mobile{
    position: fixed;
    inset: 0 auto 0 0;
    z-index: 99;
    margin-left: 0;
    background: #fff;
    transition: translate 0.3s;
    translate: -100%;
}
.nav-mobile.isHide{
    translate:0 ;
    opacity: 1;
}
.nav-overlay{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    inset: 0;
    z-index: 9;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
    transition-duration: 0.3s;
}
.nav-overlay{
    opacity: 1;
    visibility: visible;
}
/*  */
@media (min-width: 0) and (max-width: 739px){
.header-landing{
    position: relative;
    height: 80px !important;
}
.header-landing .nav{
    display: none;
}
.header-inner{
    justify-content: space-between;
}
.header-landing .logo{
    width: 40px !important;
    height: 40px !important
}
.header-landing .slogan{
    font-size: 14px !important;
    line-height: 20px !important;
}
.hero h1{
    font-size: 40px !important;
    line-height: 1.2
}
.desc{
    font-size: 16px !important;
}
.cta-wrap{
    flex-direction: column;
}
.hero .btn-white{
    width: 80%;
}
.hero .btn-black{
    width: 80%;
    margin-left: 0;
    margin-top: 20px 
}
.row{
    flex-direction: column;
    gap: 50px !important
}
.dev-env{
    padding-top: 32px !important;
    padding-bottom: 20px !important;
}
.devvideo{
    height: 204px !important;
}
.second-heading{
    font-size: 28px !important;
    line-height: 1.4 !important
}
.section-projects .desc{
    font-size: 16px;
}
.project-img{
    width: 100%;
    margin-top: -120px;
}
.d-sm-none{
    display: none !important;
}
.d-sm-inline-flex{
    display: inline-flex !important;
    margin-top: 140px !important;
    margin-bottom: -200px;
}
.track{
    margin-top: 190px !important;
}
.track .inner{
    padding: 24px;
    padding-top: 2px;
}
.list-tracks{
    flex-direction: column;
    /* margin-left: -40px; */
}
.section-sass{
    margin-top: -100px !important;
}
.section-sass-video{
    width: 100% !important;
    border-radius: 10px !important;
}
.section-sass-btn{
    margin-top: 220px !important;
}
.section-sass .column{
    text-align: left;
}
.section-flashcards{
    padding-top: 0px !important;
}
.section-flashcards .videowrapper{
    flex-direction: column;
    align-items: center;
}
.flashcards-video{
    width: 80% !important;
}
.row{
    flex-direction: column !important;
}
.features-column{
    display: flex;
    flex-direction: column;
    align-items: center
}
.content{
    padding: 0;
    background:none;
    box-shadow: none;
}
.why-should-buy .list{
    columns: 1;
}
.third-heading{
    font-size: 24px !important;
}
.feedback-wrapper{
    margin-top: 0 !important;
    padding-top:0 !important;
}
.feedback-list{
    columns: 1;
    /* margin-left: -70px; */
}
.feedback-item{
    width: 100%;
}
.specifications{
    margin-top: 0px !important;
    padding-top: 0px !important;
}
.specifications .inner{
    padding: 20px;
}
.specifications table{
    display: block;
}
.specifications tbody{
    display: block;
}
.specifications table td:first-child {
    padding-bottom: 4px !important;
}
.specifications table td {
    display: block;
    padding: 10px 0 !important;
    font-size: 16px !important;
    width: auto;
}
.faq-inner{
    margin: 0 !important;
}
.the-end{
    margin-top: 0 !important;
    padding-top: 36px !important;
}
.end-inner .second-heading{
    width: 100% !important;
    font-size: 32px  !important;
}
.end-inner{
    padding: 50px 24px;
}
.end-inner .desc{
    width: 100% !important;
}
.introduce{
    margin-top: -125px;
}
.introduce .d-sm-inline-flex{
    margin-top: 50px !important;
}
.img-decorator{
    display: none;
}
.videowrapper .d-sm-inline-flex{
    margin-top: 40px !important;
}

.section-features .row{
    gap: 20px !important;
}
.section-features .btn{
    display: none;
}
.why-should-buy{
    margin-top: 43px !important;
    padding-top: 20px !important;
}
.section-projects .d-sm-inline-flex{
    margin-top: 223px !important;
}
.section-features-content{
    margin-top: 116px !important;
}
.section-sass-content{
    height: auto !important;
}
.nav-mobile{
    width: 80%;
    padding: 30px 0 0 30px;
}
}
@media (max-width: 1023px){
    
}
@media (min-width: 600px) and (max-width: 800px){
    .order-polo{
        margin-top: 140px !important;
    }
    .section-projects .d-sm-inline-flex{
        margin-top: 333px !important;
    }
    .section-sass-btn{
        margin-top: 330px !important;
    }
}

@media (min-width: 740px) and (max-width: 1023px){
    .header-landing .nav{
        display: none;
    }
    .devvideo{
        height: 403px !important;
    }
    .dev-env{
        padding-bottom: 0px !important;
    }
    .order-polo{
        margin-top: 26px !important;
    }
    .content{
        padding: 0px;
    }
    .row{
        gap: 50px !important;
    }
    .faq-inner{
    margin: 0 auto !important;
    }
    /* .feedback-list{
        margin-left: -66px !important;
    } */
    .list-tracks{
        flex-wrap: wrap;
    }
    .track{
        margin-top: 0px !important;
        padding-bottom: 0 !important;
    }
    .section-sass{
        margin-top: 0px !important;
        padding-bottom: 0 !important;

    }
    .feedback-wrapper{
        margin-top: 0px !important;
        padding-bottom: 0 !important;
    }
    .specifications{
        margin-top: 0px !important;
        padding-bottom: 0 !important;
    }
    .CDN{
        margin-top: 0px !important;
        padding-bottom: 0 !important;
    }
    .section-projects{
        margin-top: 0px !important;
        padding-bottom: 0 !important;
    }
    .section-sass-btn{
        margin-top: 285px !important;
    }
    .flashcards-video{
        width: 80% !important;
    }
    .the-end .second-heading{
        width: auto !important;
    }
    .the-end .desc{
        padding-right: 59px !important;
    }
    /* .nav-mobile{
        width: 75%;
        padding: 50px 0 0 50px;
    } */
    
}
@media (max-width: 1023px){
    .menu-toggle{
        display: inline-block !important;
    }
}
