.RecruitmentDetail_applyBtn{   
    background-color: #f05123;
    border-radius: 999px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 40px;
    text-align: center
}
.RecruitmentDetail_salary{
    color: #57595b;
    display: flex;
    font-weight: 600;
    line-height: 1.8;
    margin-top: 4px
}
.JobItem_wrapper:nth-child(odd){
    margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 739px){
    .RecruitmentDetail_sticky{
        position: static;
    }
    .RecruitmentDetail_heading{
        margin-left: 16px;
    }
    .RecruitmentDetail_fixedOnMobile{
        background-color: #fff;
        bottom: 0;
        left: 0;
        padding: 8px 0;
        position: fixed;
        right: 0;
        z-index: 9
    }
    .RecruitmentDetail_applyBtn{
        line-height: 42px;
        margin: 0 16px;
    }
    .RecruitmentDetail_skills{
        padding: 0 16px;
    }
    
    .RecruitmentDetail_textContent{
        padding: 0 16px;
    }
    .RecruitmentDetail_relatedJobs{
        padding-bottom: 0;
    }
}
@media (min-width: 0px) and (max-width: 1023px){
    .JobItem_wrapper{
        flex: 1 0 100%;
        margin-top: 8px;
    }
}