.btn-login {
  background: transparent;
  cursor: pointer;
  font-weight: 500;
  margin-right: 30px;
}
.btn-register {
  background: linear-gradient(to right bottom, #ff8f26, #ff5117);
  border-radius: 99px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 9px 20px;
  transition: opacity 0.25s;
}
.authModel {
  z-index: 9999;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.authModel-overlay {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: rgba(0, 0, 0, 0.4);
  inset: 0;
  position: absolute;
}

.authModel-content {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-name: authModel;
  animation-name: authModel;
  background: #fff;
  border-radius: 16px;
  height: min(660px, 100% - 32px);
  position: relative;
  width: min(540px, 100% - 32px);
  z-index: 1;
}
.AuthModal_back {
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  height: 40px;
  justify-content: center;
  line-height: 0;
  position: absolute;
  left: 16px;
  top: 16px;
  width: 40px;
  z-index: 10;
}
.AuthModal_back:hover {
  cursor: pointer;
  color: #292929;
}
.AuthModal_close {
  align-items: center;
  background: rgba(22, 24, 35, 0.03);
  border-radius: 50%;
  color: #333;
  cursor: pointer;
  display: flex;
  font-size: 28px;
  height: 40px;
  justify-content: center;
  line-height: 0;
  position: absolute;
  right: 16px;
  top: 16px;
  width: 40px;
  z-index: 10;
}
.Login_title {
  color: rgb(41, 41, 41);
  font-size: 28px;
  font-weight: 700;
  line-height: 1.4;
  margin: 12px 0px;
}
.Login_desc {
  text-align: center;
  color: #f33a58;
  font-size: 13px;
  line-height: 1.5;
  margin: 0px auto;
  width: min(400px, 90%);
}
.Button_login-wapper {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(220, 224, 227);
  border-radius: 44px;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  padding-left: 16px;
  position: relative;
  text-align: center;
  width: 320px;
}
.SigninButton_icon {
  left: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.SigninButton_title {
  color: rgb(53, 65, 76);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  outline: 0px;
  text-align: center;
}
.Login_dontHaveAcc {
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 0px;
  padding: 24px 16px 0px;
}
.Login_acceptTerm {
  width: 100%;
  color: #666;
  font-size: 11px;
  margin: 0px auto;
  width: min(400px, 90%);
  line-height: 1.6;
  margin-top: 3px;
}
.underline {
  color: currentColor;
  text-decoration: underline;
}
.FormInput_invalid {
  background: rgba(22, 24, 35, 0.06);
  border: 1.5px solid rgba(22, 24, 35, 0.06);
  border-radius: 44px;
  display: flex;
  height: 44px;
  overflow: hidden;
  /* border-color: #f33a58; */
}
.FormInput_invalid input {
  background-color: transparent;
  display: block;
  border-radius: 44px;
  flex: 1 1;
  font-size: 14px;
  outline: none;
  padding: 12px 20px;
}
.FormInput_message {
  color: #f33a58;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  margin: 8px 0 8px 8px;
}
.btn-sendCOde {
  align-items: center;
  border-radius: 44px;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  margin: 1px;
  min-width: 140px;
  white-space: nowrap;
  color: #fff;
  background: #ff5117;
}
.btn-sendCOde.disable {
  background-color: #ccc;
  cursor: not-allowed;
  pointer-events: none;

}
/* border-[#f33a58] border-[1px]" */
.btn-submit-resgiter {
  box-shadow: none;
  /* cursor: not-allowed;
  opacity: 0.5; */
  user-select: none;
  font-size: 16px;
  background-position: 0 0;
  background-size: 100% 200%;
  border: 0;
  color: #fff;
  font-weight: 600;
  transition: background-position 0.15s cubic-bezier(0.2, 0.2, 0.2, 1);
  background-color: #1dbfaf;
  background-image: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%);
  position: relative;
  border-radius: 44px !important;
  height: 44px;
  margin-top: 20px;
  width: 100%;
}
.btn-submit-resgiter.disable {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;

}
input::placeholder {
  font-size: 16px;
}


/*  */
.MobileMenu_modal{
    animation: MobileMenu_fadeIn .5s ease;
    background-color: rgba(0, 0, 0, .3);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 21
}

.MobileMenu_body{
    animation: MobileMenu_slideIn .5s ease;
    background-color: #fff;
    bottom: 0;
    left: 0px;
    position: absolute;
    top: 0;
    z-index: 22;
}
@keyframes MobileMenu_slideIn{
  0% {
    transform: translateX(-100%);
}
  100% {
    transform: translateX(0);
}
}
@keyframes MobileMenu_slideOut {
  0% {
      transform: translateX(0)
  }

  to {
      transform: translateX(-100%)
  }
}
.MobileMenu_modal.active{
  display: inline-block !important;
}

.MobileMenu_scrollable{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    max-height: 100%;
    padding: 16px 0 0 16px;
}
.FallbackAvatar_avatar{
    background: transparent;
    border-radius: 50%;
    font-size:8.8px;
}
.MobileMenu_list{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 12px;
    padding: 8px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .079)
}
.index-module_listItem2{
    font-size: 1.4rem;
    line-height: 20px;
}
.MobileMenu_list li a{
    padding: 16px 0 16px 16px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color: #333;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 500;
    transition: .3s;
}
.MobileMenu_list li em{
    color: #757575;
    display: inline-block;
    margin-right: 16px;
    text-align: center;
    width: 20px;
}
.MobileMenu_list li div{
  padding: 20px 0 20px 17px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: #333;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 500;
  transition: .3s;
}
.MobileMenu_list li>span{
  padding: 20px 0 20px 20px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: #333;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 500;
  transition: .3s;
}
.index-module_listItem2 a:hover{
  background-color: #f0f0f0;
}

@media (min-width: 0px) and (max-width: 739px) {
  .btn-sendCOde {
    font-size: 13px;
    min-width: 0;
    width: 140px;
  }
  .authModel-content{
    min-height: 577px;
    padding: 48px 16px 60px;
  }
  
  
}

@media (min-width: 0px) and (max-width: 739px) {
  .FormInput_invalid input {
    font-size: 16px;
    padding-right: 5px;
    width: 160px;
  }
  .Login_acceptTerm {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 34px 0px 34px;
    width: min(400px, 100%);
  }
  .header_mobile{
    padding: 0 16px !important;
    z-index: 20;
  }
  .NavBar_actions_mobile{
    flex: 5 1;
  }
  .search_mobile_wapper{
    display: none !important;
  }
}

@media (min-width: 0px) and (max-width: 1023px) {
  .header{
    display: none !important;
  }
}
@media (min-width: 739px) and (max-width: 1023px) {
  .icon_bell{
    padding-left: 190px;
  }
  .search_mobile_wapper{
    margin-left: 10px;
  }
  .icon_search_mobile{
    display: none;
  }
}
@keyframes authModel {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
